/* this entire file is filled with quite hacky solutions to solve minor inconveniences that do not warrant implementation in the _base.scss-file */

.profile {
    left: 0;
    right: 0;
    align-items: center;
    width: 100%;
    height: 80%;
    text-align: center;
    display: block;
    margin-inline: auto;
    padding-top: 0.5rem;
}

.profile .image-container {
    align-items: center;
    display: block;
    margin-inline: auto;
    width: auto;
    padding-bottom: 1.5rem;
}

.profile .image-container img {
    width: auto;
}

.socials {
    padding-bottom: 2rem;
}

.socials a{
    margin-inline-end: 12px;
    text-decoration: none;
}

.socials a svg{
    height:28px;
    width: 28px;
}

.profile .caption {
    font-size: 20px;
    font-variant: small-caps;
}

.caption {
    display: block;
}


ul.navbar-nav.centering.flex-nowrap{
    margin-inline: auto;
}


/* hacky solution to make images smaller for the project pages: */
img.img-fluid.rounded.z-depth-1.small-centered {
    width: 60%;
    display: block;
    margin-inline: auto;
}